<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunjays.capl.dao.VehicleInfoMapper">
	<resultMap id="BaseResultMap" type="com.sunjays.capl.entity.VehicleInfo">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="Vehicle" property="vehicle" jdbcType="NVARCHAR" />
		<result column="DevId" property="devid" jdbcType="NVARCHAR" />
		<result column="GetTime" property="gettime" jdbcType="TIMESTAMP" />
		<result column="SIMNumber" property="simnumber" jdbcType="NVARCHAR" />
		<result column="VehicleType" property="vehicletype" jdbcType="NVARCHAR" />
		<result column="Company" property="company" jdbcType="NVARCHAR" />
		<result column="Responsibility" property="responsibility"
			jdbcType="NVARCHAR" />
		<result column="LiabilityPhone" property="liabilityphone"
			jdbcType="NVARCHAR" />
		<result column="Remark" property="remark" jdbcType="NVARCHAR" />
		<result column="Zone" property="zone" jdbcType="NVARCHAR" />
		<result column="OnTime" property="ontime" jdbcType="NVARCHAR" />
		<result column="OffTime" property="offtime" jdbcType="NVARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		Id, Vehicle, DevId, GetTime, SIMNumber, VehicleType,
		Company,
		Responsibility, LiabilityPhone,
		Remark ,OnTime , OffTime
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.sunjays.capl.entity.VehicleInfoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from VehicleInfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		v.Id id, v.Vehicle vehicle, v.DevId devid,
		v.GetTime gettime
		, v.SIMNumber simnumber, v.VehicleType vehicletype,
		v.Company company,
		v.Responsibility responsibility, v.LiabilityPhone
		liabilityPhone,
		v.Remark remark,v.OnTime,v.OffTime,zi.Id as zone
		from VehicleInfo
		v,ZUClink zuc,ZoneInfo zi,ZoneName zn where v.Id =
		#{id,jdbcType=INTEGER} and v.Id =
		zuc.C_id and zi.Id = zuc.Z_id and
		zi.wkId = zn.wkId

	</select>
	<!--查询所有录入车辆信息 -->
	<select id="selectAll" resultType="com.sunjays.capl.entity.VehicleInfo">
		select
		v.Id id, v.Vehicle
		vehicle, v.DevId devid, v.GetTime gettime
		, v.SIMNumber simnumber,
		v.VehicleType vehicletype, v.Company company,
		v.Responsibility
		responsibility, v.LiabilityPhone liabilityPhone,
		v.Remark
		remark,v.OnTime,v.OffTime,zi.Remark as zone
		from VehicleInfo as v left join ZUClink zuc on
		v.Id = zuc.C_id left join
		ZoneInfo zi on zi.Id = zuc.Z_id left join
		ZoneName zn
		on zi.wkId = zn.wkId
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		VehicleInfo
		where Id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.sunjays.capl.entity.VehicleInfoExample">
		delete from VehicleInfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sunjays.capl.entity.VehicleInfo">
		insert into VehicleInfo (Id,
		Vehicle, DevId,
		GetTime, SIMNumber, VehicleType,
		Company,
		Responsibility, LiabilityPhone,
		Remark,OnTime,OffTime)
		values (#{id,jdbcType=INTEGER},
		#{vehicle,jdbcType=NVARCHAR},
		#{devid,jdbcType=NVARCHAR},
		#{gettime,jdbcType=TIMESTAMP}, #{simnumber,jdbcType=NVARCHAR},
		#{vehicletype,jdbcType=NVARCHAR},
		#{company,jdbcType=NVARCHAR},
		#{responsibility,jdbcType=NVARCHAR},
		#{liabilityphone,jdbcType=NVARCHAR},
		#{remark,jdbcType=NVARCHAR},
		#{ontime,jdbcType=NVARCHAR},
		#{offtime,jdbcType=NVARCHAR})
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.sunjays.capl.entity.VehicleInfo">
		insert into VehicleInfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="vehicle != null">
				Vehicle,
			</if>
			<if test="devid != null">
				DevId,
			</if>
			<if test="gettime != null">
				GetTime,
			</if>
			<if test="simnumber != null">
				SIMNumber,
			</if>
			<if test="vehicletype != null">
				VehicleType,
			</if>
			<if test="company != null">
				Company,
			</if>
			<if test="responsibility != null">
				Responsibility,
			</if>
			<if test="liabilityphone != null">
				LiabilityPhone,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="ontime != null">
				OnTime,
			</if>
			<if test="offtime != null">
				OffTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="vehicle != null">
				#{vehicle,jdbcType=NVARCHAR},
			</if>
			<if test="devid != null">
				#{devid,jdbcType=NVARCHAR},
			</if>
			<if test="gettime != null">
				#{gettime,jdbcType=TIMESTAMP},
			</if>
			<if test="simnumber != null">
				#{simnumber,jdbcType=NVARCHAR},
			</if>
			<if test="vehicletype != null">
				#{vehicletype,jdbcType=NVARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=NVARCHAR},
			</if>
			<if test="responsibility != null">
				#{responsibility,jdbcType=NVARCHAR},
			</if>
			<if test="liabilityphone != null">
				#{liabilityphone,jdbcType=NVARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=NVARCHAR},
			</if>
			<if test="ontime != null">
				#{ontime,jdbcType=NVARCHAR},
			</if>
			<if test="offtime != null">
				#{offtime,jdbcType=NVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.sunjays.capl.entity.VehicleInfoExample"
		resultType="java.lang.Integer">
		select count(*) from VehicleInfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update VehicleInfo
		<set>
			<if test="record.id != null">
				Id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.vehicle != null">
				Vehicle = #{record.vehicle,jdbcType=NVARCHAR},
			</if>
			<if test="record.devid != null">
				DevId = #{record.devid,jdbcType=NVARCHAR},
			</if>
			<if test="record.gettime != null">
				GetTime = #{record.gettime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.simnumber != null">
				SIMNumber = #{record.simnumber,jdbcType=NVARCHAR},
			</if>
			<if test="record.vehicletype != null">
				VehicleType = #{record.vehicletype,jdbcType=NVARCHAR},
			</if>
			<if test="record.company != null">
				Company = #{record.company,jdbcType=NVARCHAR},
			</if>
			<if test="record.responsibility != null">
				Responsibility =
				#{record.responsibility,jdbcType=NVARCHAR},
			</if>
			<if test="record.liabilityphone != null">
				LiabilityPhone =
				#{record.liabilityphone,jdbcType=NVARCHAR},
			</if>
			<if test="record.remark != null">
				Remark = #{record.remark,jdbcType=NVARCHAR},
			</if>
			<if test="record.ontime != null">
				OnTime = #{ontime.remark,jdbcType=NVARCHAR},
			</if>
			<if test="record.offtime != null">
				OffTime = #{offtime.remark,jdbcType=NVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update VehicleInfo
		set Id = #{record.id,jdbcType=INTEGER},
		Vehicle =
		#{record.vehicle,jdbcType=NVARCHAR},
		DevId =
		#{record.devid,jdbcType=NVARCHAR},
		GetTime =
		#{record.gettime,jdbcType=TIMESTAMP},
		SIMNumber =
		#{record.simnumber,jdbcType=NVARCHAR},
		VehicleType =
		#{record.vehicletype,jdbcType=NVARCHAR},
		Company =
		#{record.company,jdbcType=NVARCHAR},
		Responsibility =
		#{record.responsibility,jdbcType=NVARCHAR},
		LiabilityPhone =
		#{record.liabilityphone,jdbcType=NVARCHAR},
		Remark =
		#{record.remark,jdbcType=NVARCHAR}
		OnTime =
		#{record.ontime,jdbcType=NVARCHAR}
		OffTime =
		#{record.offtime,jdbcType=NVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sunjays.capl.entity.VehicleInfo">
		update VehicleInfo
		<set>
			<if test="vehicle != null">
				Vehicle = #{vehicle,jdbcType=NVARCHAR},
			</if>
			<if test="devid != null">
				DevId = #{devid,jdbcType=NVARCHAR},
			</if>
			<if test="gettime != null">
				GetTime = #{gettime,jdbcType=TIMESTAMP},
			</if>
			<if test="simnumber != null">
				SIMNumber = #{simnumber,jdbcType=NVARCHAR},
			</if>
			<if test="vehicletype != null">
				VehicleType = #{vehicletype,jdbcType=NVARCHAR},
			</if>
			<if test="company != null">
				Company = #{company,jdbcType=NVARCHAR},
			</if>
			<if test="responsibility != null">
				Responsibility = #{responsibility,jdbcType=NVARCHAR},
			</if>
			<if test="liabilityphone != null">
				LiabilityPhone = #{liabilityphone,jdbcType=NVARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=NVARCHAR},
			</if>
			<if test="ontime != null">
				OnTime = #{ontime,jdbcType=NVARCHAR},
			</if>
			<if test="offtime != null">
				OffTime = #{offtime,jdbcType=NVARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sunjays.capl.entity.VehicleInfo">
		update VehicleInfo
		set Vehicle = #{vehicle,jdbcType=NVARCHAR},
		DevId =
		#{devid,jdbcType=NVARCHAR},
		GetTime = #{gettime,jdbcType=TIMESTAMP},
		SIMNumber = #{simnumber,jdbcType=NVARCHAR},
		VehicleType =
		#{vehicletype,jdbcType=NVARCHAR},
		Company =
		#{company,jdbcType=NVARCHAR},
		Responsibility =
		#{responsibility,jdbcType=NVARCHAR},
		LiabilityPhone =
		#{liabilityphone,jdbcType=NVARCHAR},
		Remark =
		#{remark,jdbcType=NVARCHAR}
		OnTime =
		#{ontime,jdbcType=NVARCHAR}
		OffTime =
		#{offtime,jdbcType=NVARCHAR}
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectAllCarDevid" resultMap="BaseResultMap">
		select DevId,Id from VehicleInfo
	</select>
</mapper>